{
  "extends": ["airbnb", "prettier"],
  "plugins": ["babel", "react", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "object-curly-spacing": [0],
    "import/prefer-default-export": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/click-events-have-key-events": [0],
    "jsx-a11y/no-static-element-interactions": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-first-prop-new-line": 0,
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["error", 80]
  }
}
